#set( $indexPath = "/property/_search?size=0" )
#set( $input = $ctx.args.input )

{
    "version": "2018-05-29",
    "operation" : "GET",
    "path": "$indexPath",
    "params":{
    	"body": {
            "aggs"  : { 
                "bytes_histogram"  : { 
                    "histogram"  : { 
                        "field"  : "price" ,
                        "interval" : $util.toJson($input.range)
                    }
                }
            }
	    }
    }
}
